<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/patternLayout}" 
	xmlns:erp="erp.system"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:data="http://www.thymeleaf.org/extras/data">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Pesquisa de Usuários</title>

</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de usuários</h1>
					</div>
					<div class="col-sm-2" sec:authorize-url="/usuarios/novo">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/usuarios/novo}"> <i
								class="glyphicon glyphicon-plus-sign"></i><span
								class="hidden-xs hidden-sm">Novo usuário</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="GET" th:object="${usuarioFilter}">
				<div class="row">
					<div class="form-group col-sm-6">
						<label class="control-label" for="nome">Nome</label> <input
							type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{usename}" />
					</div>

					<div class="form-group col-sm-6">
						<label class="control-label" for="email">E-mail</label> <input
							type="text" class="form-control" id="email" th:field="*{email}" />
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<button type="submit" class="btn btn-primary">Pesquisar</button>
					</div>
					<div class="form-group col-sm-6">
						<label for="grupos" class="control-label">Grupos</label>
						<div class="checkbox">
							<th:block th:each="grupo : ${grupos}">
								<div class="checkbox checkbox-inline">
									<input type="checkbox" th:field="*{grupos}" th:value="${grupo.id}" /> 
									<label th:for="${#ids.prev('grupos')}" th:text="${grupo.name}"></label>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</form>

			<div class="aw-datatable-toolbar">
				<button class="btn btn-default btn-xs js-status-btn disabled" data:status="ATIVAR" data:url="@{/usuarios/status}">
					<span>Ativar</span>
				</button>
				<button class="btn btn-default btn-xs js-status-btn disabled" data:status="DESATIVAR" data:url="@{/usuarios/status}">
					<span>Desativar</span>
				</button>
			</div>
			
			<div class="table-responsive  bw-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-usuarios-col-status">
								<div class="checkbox aw-checkbox-no-margin">
									<input type="checkbox" class="js-selection-all" />
									<label></label>
								</div>
							</th>
							<th style="width: 180px">Nome</th>
							<th style="width: 150px">E-mail</th>
							<th>Grupos</th>
							<th>Status</th>
							<th class="table-cervejas-col-acoes"></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="usuario : ${usuarios}">
							<td>
								<div class="checkbox aw-checkbox-no-margin" th:if="${#authentication.principal.usuario.id != usuario.id}">
									<input type="checkbox" class="js-selection-checkbox" data:codigo="${usuario.id}" />
									<label></label>
								</div>
							</td>
							<td th:text="${usuario.usename}"></td>
							<td th:text="${usuario.email}"></td>
							<td>
								<span th:each="grupo : ${usuario.grupos}" th:text="|${grupo.name}${grupoStat.last ? '':', '}|" ></span>
							</td>
							<td>
								<span class="label" th:classappend="${usuario.active} ? label-success : label-danger" th:text="${usuario.active} ? Ativo : Inativo"></span>
							</td>
							<td class="text-center">
								<a class="btn  btn-link  btn-xs" title="Editar">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/multiSelection.js}"></script>
	</th:block>
</body>
</html>