<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
		xmlns:data="http://www.thymeleaf.org/extras/data"
		layout:decorate="layout/patternLayout">
<head>
	<title>Cadastro de Cliente</title>
</head>
<body>	
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de Cliente
				</h1>
			</div>
		</div>

		<div class="container-fluid">
		
			<form method="POST" th:object="${cliente}" class="form-vertical  js-form-loading">
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<label for="nome">Nome</label>
						<input id="nome" type="text" class="form-control"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4  form-group">
						<label for="origem">Tipo pessoa</label>
						<div>
							<th:block th:each="typePeople : ${typesOfPeople}" >
								<div class="radio  radio-inline">
									<input type="radio" class="js-radio-tipo-pessoa" th:id="|id_${typePeople}|" name="pessoa" 
										data:doc-type="${typePeople.document}" data:mask-pattern="${typePeople.mask}" > 
									<label class="control-label" th:for="|id_${typePeople}|" th:text="${typePeople.decription}" ></label>
								</div>
							</th:block>
						</div>
					</div>
					
					<div class="col-sm-8 form-group">
						<label for="cpf-cnpj">CPF/CNPJ</label>
						<input id="cpf-cnpj" type="text" class="form-control" />
					</div>
				</div>
		
				<div class="row">
					<div class="col-sm-4  form-group">
						<label for="telefone">Telefone</label>
						<input id="telefone" type="text" class="form-control js-phone-number" />
					</div>
					
					<div class="col-sm-8  form-group">
						<label for="email">E-mail</label>
						<input id="email" type="text" class="form-control" />
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4  form-group">
						<label for="logradouro">Logradouro</label>
						<input id="logradouro" type="text" class="form-control" />
					</div>
					
					<div class="col-sm-4  form-group">
						<label for="numero">Número</label>
						<input id="numero" type="text" class="form-control" />
					</div>
					
					<div class="col-sm-4  form-group">
						<label for="complemento">Complemento</label>
						<input id="complemento" type="text" class="form-control"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4 form-group">
						<label for="cep">CEP</label>
						<input id="cep" type="text" class="form-control" />
					</div>
					
					<div class="col-sm-4 form-group">
						<label for="estado">Estado</label>
						<select id="estado" class="form-control">
							<option value="">Selecione um estado</option>
							<option th:each="state : ${states}" th:value="${state}" th:text="${state.estado}" ></option>
						</select>
					</div>
					
					<div class="col-sm-4 form-group">
						<label for="cidade">Cidade</label>
						<div class="bw-field-action" >
							<select id="cidade" class="form-control" data:url="@{/cidades}" >
								<!-- <option value="">Selecione uma cidade</option> -->
								<!-- <option th:each="cidade : ${cidades}" th:value="${cidade.id}" th:text="${cidade.nome}" ></option> -->
							</select>
							<div class="bw-field-action__icon js-img-loading" style="display: none" >
								<img alt="loading" th:src="@{/images/mini-loading.gif}">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
		
			</form>
		</div>
		
		<div th:replace="estilo/cadastroRapidoEstilo :: modal"></div>
	</section>
</body>
</html>