<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="modal  fade" id="pesquisaRapidaClientes" tabindex="-1" role="dialog" th:fragment="pesquisaRapidaClientes">
 	<div class="modal-dialog">
   		<div class="modal-content">
   			<div class="modal-header">
       			<button type="button" class="close" data-dismiss="modal"><i>&times;</i></button>
        		<h4 class="modal-title">Pesquisa de clientes</h4>
      		</div>
      		
   			<div class="modal-body">
   				<div class="alert  alert-danger  alert-dismissible hidden js-mensagem-erro" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div><i class="fa fa-exclamation-circle"></i><span> Informe pelo menos 3 letras</span></div>
				</div>
	
   				<form class="form" th:action="@{/clientes}">
		        	<div class="form-group">
		            	<label class="control-label" for="nomeClienteModal">Nome</label>
	                	<input id="nomeClienteModal" type="text" class="form-control" autofocus="autofocus"/>
		            </div>
		            
		            <button type="submit" class="btn  btn-primary js-pesquisa-rapida-cliente-btn">Pesquisar</button>
		            <a href="#" class="btn  btn-default" data-dismiss="modal">Cancelar</a>	
		        </form>
		        
		        <div id="container-tabela"></div>
     		</div>
   		</div>
 	</div>
 	
 	<th:block th:replace="hbs/TablePesquisaRapidaCliente"></th:block>
 	
</div>
</body>
</html>