<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
			xmlns:erp="erp.system">
<head></head>	
<body>
	<aside class="aw-layout-sidebar  js-sidebar" th:fragment="sidebar">
		<div class="aw-layout-sidebar__content">
	
			<nav class="aw-menu  js-menu">
				<ul class="aw-menu__list">
	
					<li class="aw-menu__item">
						<a href="dashboard.html">
							<i class="fa  fa-fw  fa-home"></i><span>Dashboard</span>
						</a>
					</li>
	
					<li class="aw-menu__item">
						<a href="#">
							<i class="fa  fa-fw  fa-credit-card"></i><span>Vendas</span>
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
	
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link" erp:highlight="@{/vendas}">
								<a th:href="@{/vendas/nova}">Nova venda</a>
							</li>
						</ul>
					</li>
					
					<li class="aw-menu__item">
						<a href="#">
							<i class="fa  fa-fw  fa-truck"></i><span>Estoque</span><i class="aw-menu__navigation-icon  fa"></i>
						</a>
	
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link" erp:highlight="@{/estilos}">
								<a th:href="@{/estilos}">Estilos</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" erp:highlight="@{/cervejas}">
								<a th:href="@{/cervejas}">Cervejas</a>
							</li>
						</ul>
					</li>
	
					<li class="aw-menu__item">
						<a href="#">
							<i class="fa  fa-fw  fa-database"></i>
							<span>Cadastros</span>
							<i class="aw-menu__navigation-icon  fa"></i>
						</a>
	
						<ul class="aw-menu__list  aw-menu__list--sublist">
							<li class="aw-menu__item  aw-menu__item--link" erp:highlight="@{/cidades}">
								<a th:href="@{/cidades}">Cidades</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" erp:highlight="@{/clientes}">
								<a th:href="@{/clientes}">Clientes</a>
							</li>
							<li class="aw-menu__item  aw-menu__item--link" erp:highlight="@{/usuario}">
								<a th:href="@{/usuarios/novo}">Usuário novo</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
	
		</div>
	</aside>
</body>
</html>