<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/patternLayout}">
<head>
<title>Cadastro de Cidades</title>
</head>
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de Cidades</h1>
			</div>
		</div>

		<div class="container-fluid">

			<form method="POST" th:object="${cliente}"
				class="form-vertical  js-form-loading">

				<div class="row">
					<div class="col-sm-3 form-group">
						<label for="estado">Estado</label> 
						<select class="form-control">
							<option>Selecione um estado</option>
							<option value="1">PE</option>
							<option value="2">SP</option>
							<option value="3">RJ</option>
						</select>
					</div>

					<div class="col-sm-9 form-group">
						<label for="cidade">Cidade</label> <input
							id="cidade" type="text" class="form-control" />
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>

			</form>
		</div>

		<div th:replace="estilo/cadastroRapidoEstilo :: modal"></div>
	</section>
</body>
</html>