<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/patternLayout}"
	xmlns:erp="erp.system">
<head>
<title>Cadastro de Cidades</title>
</head>
<body>
	<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de Cidades</h1>
			</div>
		</div>

		<div class="container-fluid">

			<form method="POST" th:object="${cidade}" class="form-vertical  js-form-loading">
				<erp:message />

				<div class="row">
					<div class="col-sm-3 form-group" erp:classforerror="estado">
						<label for="estado" class="control-label">Estado</label> 
						<select id="estado" class="form-control" th:field="*{estado}" >
							<option value="">Selecione um estado</option>
							<option th:each="uf : ${states}" th:value="${uf}" th:text="${uf.estado}" ></option>
						</select>
					</div>

					<div class="col-sm-9 form-group" erp:classforerror="nome" >
						<label for="cidade" class="control-label">Cidade</label>
						<input id="cidade" type="text"	class="form-control" th:field="*{nome}" />
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>

			</form>
		</div>
	</section>
</body>
</html>