<!DOCTYPE html>
<html lang="pt"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/simpleLayout}">
<head>
</head>
<body class="aw-layout-simple-page">
	<th:block layout:fragment="conteudo">
		
		<div class="aw-error-panel">
			<h1 class="aw-error-panel__code">
				<i class="fa  fa-location-arrow">404</i>
			</h1>
			
			<h2 class="aw-error-panel__title">Página não encontrada</h2>
			
			<div class="aw-error-panel__description">
				Desculpe, a página que você tentou acessar não foi encontrada ou não existe.
				Verifique se a URL está correta ou entre em contato com a gente se precisar de ajuda.
				<br/><br/>
				<a href="javascript:history.back()" class="btn  btn-primary">Voltar para onde estava</a>
			</div>
		</div>
	
	</th:block>
</body>
</html>